@model List<Movie>
@{
    ViewData["Title"] = "GetMoviesByYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<h1>Filter Movies By Year</h1>
<hr />

<h2>@TempData["errorMovieYear"]</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col-4 p-3">
            <div class="card h-100">
                <img src="@item.Image" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Director</p>
                    <p class="card-text">@item.Genre</p>
                    <p class="card-text">@item.Year</p>
                    <div class="d-flex row">
                        <div class="col-4 p-3">
                            <a asp-action="MovieDetails" asp-controller="Movie" asp-route-id="@item.MovieId" class="btn btn-info mr-1 mt-2">Details Movie</a>
                        </div>
                        <div class="col-4 p-3">
                            <a asp-action="Delete" asp-controller="Movie" asp-route-id="@item.MovieId" class="btn btn-info mr-1 mt-2">Delete Movie</a>
                        </div>
                        <div class="col-4 p-3">
                            <a asp-action="Update" asp-controller="Movie" asp-route-id="@item.MovieId" class="btn btn-info mr-1 mt-2">Update Movie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

